<div class="marked-toolbar">
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="撤销" value="undo">撤销 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="重做" value="redo">重做 </button>
    </div>
    <div class="toolbar-button-wrap space">
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="粗体" value="bold">粗体 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="加粗" value="strikethrough">删除线 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="斜体" value="italic">斜体 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="引用块" value="blockquote">引用块 </button>
    </div>
    <!-- <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="首字大写" value="ucwords">首字大写 </button>
    </div> -->
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="大写" value="uppercase">大写 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="小写" value="lowercase">小写 </button>
    </div>
    <div class="toolbar-button-wrap space">
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题1" value="heading1">标题1 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题2" value="heading2">标题2 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题3" value="heading3">标题3 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题4" value="heading4">标题4 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题5" value="heading5">标题5 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题6" value="heading6">标题6 </button>
    </div>
    <div class="toolbar-button-wrap space">
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="有序列表" value="orderedList">有序列表 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="无序列表" value="unorderedList">无序列表 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="分隔线" value="horizontalRule">分隔线 </button>
    </div>
    <div class="toolbar-button-wrap space">
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="链接" value="link">链接 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="图片" value="image">图片 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="代码" value="code">代码 </button>
    </div>
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="代码块" value="fencedCodeBlock">代码块 </button>
    </div>
    <!-- <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="表格" value="table">表格 </button>
    </div> -->
    <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="任务列表" value="taskList">任务列表 </button>
    </div>
    <!-- <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="标题编号" value="headingID">标题编号 </button>
    </div> -->
    <!-- <div class="toolbar-button-wrap space">
    </div> -->
    <!-- <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="上传" value="upload">上传 </button>
    </div> -->
    <!-- <div class="toolbar-button-wrap">
        <button type="button" class="toolbar-button" title="下载" value="download">下载 </button>
    </div> -->

</div>