{% if 'jquery' not in filter_scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
{% endif %}
{% if 'marked' not in filter_scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endif %}
{% if 'highlight' not in filter_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('_marked.static', filename='js/marked/highlight.js') }}"></script>
<script type="text/javascript" src="{{ url_for('_marked.static', filename='js/marked/markedEditer.js') }}"></script>